body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #16E82B 0%, rgba(22, 232, 43, 0.00) 100%);
    background-blend-mode: darken;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tajawal', sans-serif;
}

.slide {
    width: 220px;
    height: 520px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 300px 300px 0px;
    background: #FFF;
    position: relative;
    opacity: 0;
    transition: opacity 0.7s;
  }
  
  
.slide.hidden {
    opacity: 1;
    display: flex; 
    transition: 0.7s;
}


.search-div{
    width: 220px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.srch{
    padding: 5px;
    border: none;
    border-radius:30px 0 0 30px;
    background-color: #16E82B;
    outline: none;
    text-align: center;
    caret-color: white;
    color: white;
}
.srch::placeholder{
    color: white;
    text-align: center;
}

.srch-btn{
    width: 30px;
    height: 30px;
    background-color: #16E82B;
    border-radius:0 30px 30px 0;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
}
.srch-img{
    width: 25px;
    height: 25px;
    border-radius:0 30px 30px 0;
}


.btn{
    padding: 10px;
    border-radius: 0px 30px 30px 0px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.pos-change{  
    position:absolute ;
    left: 0;
}

.logo{
    position: absolute;
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    bottom: 60%;
}

select{
    width: 100px;
    display: inline-flex;
    padding: 6px 12px;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    background: #16E82B;
    border: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    
}
select:focus {
    outline: none;
    border: none;
  }
  
.aboutUs{
    text-decoration: none;
    width: 80px;
    display: inline-flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: #16E82B;
    border: none;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
}


.main-left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    align-items: center;
    /* left : 35% */
    top: 0;
}

.main-left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    align-items: center;
    /* left : 35% */
    top: 0;
}

.title{
    display: flex;
    padding: 5px 138px 5px 138px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

ul{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0;
    margin-top: 0;
}


li{
    display: inline-flex;
    padding: 0px 138px 0px 139px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li h4{
    font-weight: 400;
}

.mawa9it{
width: min-content;
margin-right: 200px;
font-size: 1.5rem;
margin-top: 0;margin-bottom: 0;
}

.main-right{
    direction: rtl;
    height: 100vh;
    width: 15%;
    /* position: absolute; */
    /* right: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #FFF;
    font-size: 1.2rem;
}